:root {
  --key-gap: 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    --key-border-color: #ccc;
    --key-color: #eee;
    --symb0-color: black;
    --symb1-color: green;
    --symb2-color: maroon;
    --symb3-color: purple;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --key-border-color: grey;
    --key-color: #333;
    --symb0-color: white;
    --symb1-color: lightgreen;
    --symb2-color: red;
    --symb3-color: magenta;
  }
  body {
    background-color: black;
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: var(--key-gap);
}
.keyboard .row {
  display: flex;
  gap: var(--key-gap);
}

.keyboard .key {
  flex: 1;
  display: grid;
  grid-template-areas:
    "symb1 symb3"
    "symb0 symb2"
  ;
  gap: 5px;

  padding: 10px;
  color: var(--key-text-color1);
  border: 1px solid var(--key-border-color);
  background-color: var(--key-color);
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
}
.keyboard .key>* {
  line-height: 1;
}

.key .symb0 {
  color: var(--symb0-color);
  grid-area: symb0;
}
.key .symb1 {
  color: var(--symb1-color);
  grid-area: symb1;
}
.key .symb2 {
  color: var(--symb2-color);
  grid-area: symb2;
}
.key .symb3 {
  color: var(--symb3-color);
  grid-area: symb3;
}
